<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t(:title) %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= I18n.t(:memo) %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= I18n.t(:author) %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= I18n.t(:picture) %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to "#{I18n.t(:edit)}", edit_book_path(@book) %> |
<%= link_to "#{I18n.t(:back)}", books_path %>
